@theme {
    --color-prim: var(--prim-light-bg);
    --color-on-prim: var(--prim-light-txt);
    --color-sec: var(--sec-light-bg);
    --color-on-sec: var(--sec-light-txt);
    --color-ter: var(--ter-light-bg);
    --color-on-ter: var(--ter-light-txt);
    --color-background: var(--background-light-bg);
    --color-on-background: var(--background-light-txt);
    --color-light: var(--light-light-bg);
    --color-on-light: var(--light-light-txt);
    --color-lighter: var(--lighter-light-bg);
    --color-on-lighter: var(--lighter-light-txt);
    --color-semilight: var(--semilight-light-bg);
    --color-on-semilight: var(--semilight-light-txt);
    --color-superlight: var(--superlight-light-bg);
    --color-on-superlight: var(--superlight-light-txt);
    --color-success: var(--success-light-bg);
    --color-on-success: var(--success-light-txt);
    --color-warning: var(--warning-light-bg);
    --color-on-warning: var(--warning-light-txt);
    --color-danger: var(--danger-light-bg);
    --color-on-danger: var(--danger-light-txt);
    --color-info: var(--info-light-bg);
    --color-on-info: var(--info-light-txt);
    /* aliases */
    --color-l1: var(--light-light-bg);
    --color-on-l1: var(--light-light-txt);
    --color-l2: var(--semilight-light-bg);
    --color-on-l2: var(--semilight-light-txt);
    --color-l3: var(--lighter-light-bg);
    --color-on-l3: var(--lighter-light-txt);
    --color-l4: var(--superlight-light-bg);
    --color-on-l4: var(--superlight-light-txt);
}

@layer base {

    .dark,
    [data-theme="dark"] {
        --color-prim: var(--prim-dark-bg);
        --color-on-prim: var(--prim-dark-txt);
        --color-sec: var(--sec-dark-bg);
        --color-on-sec: var(--sec-dark-txt);
        --color-ter: var(--ter-dark-bg);
        --color-on-ter: var(--ter-dark-txt);
        --color-background: var(--background-dark-bg);
        --color-on-background: var(--background-dark-txt);
        --color-light: var(--light-dark-bg);
        --color-on-light: var(--light-dark-txt);
        --color-lighter: var(--lighter-dark-bg);
        --color-on-lighter: var(--lighter-dark-txt);
        --color-semilight: var(--semilight-dark-bg);
        --color-on-semilight: var(--semilight-dark-txt);
        --color-superlight: var(--superlight-dark-bg);
        --color-on-superlight: var(--superlight-dark-txt);
        --color-success: var(--success-dark-bg);
        --color-on-success: var(--success-dark-txt);
        --color-warning: var(--warning-dark-bg);
        --color-on-warning: var(--warning-dark-txt);
        --color-danger: var(--danger-dark-bg);
        --color-on-danger: var(--danger-dark-txt);
        --color-info: var(--info-dark-bg);
        --color-on-info: var(--info-dark-txt);
        /* aliases */
        --color-l1: var(--light-dark-bg);
        --color-on-l1: var(--light-dark-txt);
        --color-l2: var(--semilight-dark-bg);
        --color-on-l2: var(--semilight-dark-txt);
        --color-l3: var(--lighter-dark-bg);
        --color-on-l3: var(--lighter-dark-txt);
        --color-l4: var(--superlight-dark-bg);
        --color-on-l4: var(--superlight-dark-txt);
    }
}

@utility prim {
    background-color: var(--color-prim);
    color: var(--color-on-prim);
}

@utility sec {
    background-color: var(--color-sec);
    color: var(--color-on-sec);
}

@utility ter {
    background-color: var(--color-ter);
    color: var(--color-on-ter);
}

@utility background {
    background-color: var(--color-background);
    color: var(--color-on-background);
}

@utility light {
    background-color: var(--color-light);
    color: var(--color-on-light);
}

@utility l1 {
    background-color: var(--color-light);
    color: var(--color-on-light);
}

@utility semilight {
    background-color: var(--color-semilight);
    color: var(--color-on-semilight);
}

@utility l2 {
    background-color: var(--color-semilight);
    color: var(--color-on-semilight);
}

@utility lighter {
    background-color: var(--color-lighter);
    color: var(--color-on-lighter);
}

@utility l3 {
    background-color: var(--color-lighter);
    color: var(--color-on-lighter);
}

@utility superlight {
    background-color: var(--color-superlight);
    color: var(--color-on-superlight);
}

@utility l4 {
    background-color: var(--color-superlight);
    color: var(--color-on-superlight);
}

@utility success {
    background-color: var(--color-success);
    color: var(--color-on-success);
}

@utility warning {
    background-color: var(--color-warning);
    color: var(--color-on-warning);
}

@utility danger {
    background-color: var(--color-danger);
    color: var(--color-on-danger);
}

@utility info {
    background-color: var(--color-info);
    color: var(--color-on-info);
}