.theme-bluestar {
    --prim-light-bg: #0e599a;
    --prim-light-txt: white;
    --sec-light-bg: #dbecfe;
    --sec-light-txt: #0e599a;
    --success-light-bg: #01DA97;
    --warning-light-bg: #FAC165;
    --danger-light-bg: #FE606C;
    --light-light-bg: #c2d3e5;
    --light-light-txt: #0e599a;
    --lighter-light-bg: #dbecfe;
    --lighter-light-txt: #0e599a;
    --background-light-bg: #eff7ff;
}