:root {
    --prim-light-bg: #0e7490;
    --prim-light-txt: white;
    --sec-light-bg: #06b6d4;
    --sec-light-txt: white;
    --ter-light-bg: #4cdaf3;
    --ter-light-txt: white;
    --success-light-bg: #16a34a;
    --success-light-txt: white;
    --warning-light-bg: #f59e0b;
    --warning-light-txt: white;
    --danger-light-bg: #ef4444;
    --danger-light-txt: white;
    --info-light-bg: #4758ef;
    --info-light-txt: white;
    --background-light-bg: white;
    --background-light-txt: #1f2937;
    --light-light-bg: #6b7280;
    --light-light-txt: white;
    --lighter-light-bg: #e2e8f0;
    --lighter-light-txt: #1f2937;
    --semilight-light-bg: #94a3b8;
    --semilight-light-txt: #1f2937;
    --superlight-light-bg: #e9ecf0;
    --superlight-light-txt: #1f2937;
    // dark theme
    --prim-dark-bg: #0a0a0a;
    --prim-dark-txt: #f5f5f5;
    --sec-dark-bg: #475569;
    --sec-dark-txt: #f5f5f5;
    --ter-dark-bg: #8f959d;
    --ter-dark-txt: #f5f5f5;
    --success-dark-bg: #16a34a;
    --success-dark-txt: #f5f5f5;
    --warning-dark-bg: #f59e0b;
    --warning-dark-txt: white;
    --danger-dark-bg: #ef4444;
    --danger-dark-txt: #f5f5f5;
    --info-dark-bg: #0b0b13;
    --info-dark-txt: #f5f5f5;
    --light-dark-bg: #9ca3af;
    --light-dark-txt: #1f2937;
    --semilight-dark-bg: #525252;
    --semilight-dark-txt: white;
    --lighter-dark-bg: #3f3f46;
    --lighter-dark-txt: white;
    --superlight-dark-bg: #1d1c1c;
    --superlight-dark-txt: white;
    --background-dark-bg: #272822;
    --background-dark-txt: #d4d4d4;
}